#aside-container>aside {
    background-color: #fcfcfc;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 35px;
}
#aside-container>aside:last-child {
    margin-bottom:unset;
}
#aside-container>aside>header {
    background-color: #f9f9f9;
    border-radius: 3px 3px 0 0;
    padding: 10px;
    border-bottom: 2px solid #eee;
}
#aside-container>aside>header>.aside-icon-container{
    display: inline-block;
    margin-right: 5px;
}
#aside-container>aside>header>.aside-icon-container>i {
    font-size: 25px;
    color: #888888;
}
#aside-container>aside>header>.aside-title-container{
    display: inline-block;
}
#aside-container>aside>header>.aside-title-container>h2 {
    color: #888888;
    text-transform: capitalize;
    margin: unset;
}
#aside-container>aside>div.aside-content {
    padding: 12px 10px;
}