#page-header>nav {
    float: right;
    position: relative;
    top: 14px;
}
#page-header>nav>ul {
    direction: rtl;
    margin: unset;
    padding: unset;
}
#page-header nav ul li {
    display: inline-block;
    list-style: none;
    margin-left: 14px ;
}
#page-header nav ul li:last-child {
    margin-left: unset;   
}
#page-header nav ul li a {
    background-color: #fcfcfc;
    display: inline-block;
    padding: 8px 18px;
    border:1px solid #e8e8e8;
    border-radius: 5px;
    font-weight: bold;
}
#page-header nav ul li a:hover {
    background-color: #fbfbfb;
    color : rgb(125, 125, 125);
    border:1px solid #dcdcdc;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
#page-header nav ul li a i {
    font-size: 18px;
    vertical-align: middle;
    margin-left: 4px;
}