#recent-comments-aside>div.aside-content {
    padding-right: 15px !important;
    padding-left: 15px !important;
}
#recent-comments-aside>div.aside-content>ul {
    padding: unset;
    margin: unset ;
}
#recent-comments-aside>div.aside-content>ul>li {
    list-style: none ;
    margin-bottom: 12px ;

}
#recent-comments-aside>div.aside-content>ul>li:last-child {
    margin-bottom: unset ;
}
#recent-comments-aside>div.aside-content>ul>li a {
    color: inherit;
}
#recent-comments-aside>div.aside-content>ul>li a:hover {
    color : #008cc6;
}
#recent-comments-aside>div.aside-content>ul>li strong , #recent-comments-aside>div.aside-content>ul>li span {
    font-weight: normal;
    text-transform: capitalize;
}
#recent-comments-aside>div.aside-content>ul>li>h3{
    display: inline;
    font-family: var(--main-font);
    font-weight: normal;
    font-size: 16px;
    text-transform: capitalize;
    line-height: 24px;
}